{% extends 'base.html' %}

{% block content %}
{%  load static %}
<h1>GameDesign - 2D</h1>


<div class="row mt-5 mb-5">
    <div class="container col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'creatures' %}">Animated Characters</a></h4>
                <p class="card-text">For Entrance Exams</p>
            </div>
            <!-- CREATURE CAROUSEL -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner " role="listbox" style=" height: 300px; background: url(https://lh4.ggpht.com/tyrl0wJ-lv8jVXq9ia0jTH0Oi8RtYtCv8jqmHJw3_rzKo5F2FVofdPpawmFV7QQQaTZp=h900); background-position: center; background-size: cover;">
                    
                    {% for item in creatures %}
                        {% if forloop.first %}
                        <div class="carousel-item active p-5">
                        {% else %}
                        <div class="carousel-item p-5">
                        {% endif %}
                            <img class="d-block w-100"   src="{{ item.image.url }}"  alt="First slide">
                        </div>
                    {% endfor %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- /////-->
        </div>
    </div>
    <div class="container col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'objects' %}">Animated Objects</a></h4>
                <p class="card-text">For Entrance Exams</p>
            </div>
            <!-- OBJECT CAROUSEL -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner " style="background: url(https://lh4.ggpht.com/tyrl0wJ-lv8jVXq9ia0jTH0Oi8RtYtCv8jqmHJw3_rzKo5F2FVofdPpawmFV7QQQaTZp=h900); background-position: center; background-size: cover;">
                    
                    {% for item in objects %}
                        {% if forloop.first %}
                        <div class="carousel-item active p-5">
                        {% else %}
                        <div class="carousel-item p-5">
                        {% endif %}
                            <img class="d-block w-100"   src="{{ item.image.url }}"  alt="First slide">
                        </div>
                    {% endfor %}
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- /////-->
        </div>
    </div>
    <div class="container col-md-12 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'landscapes' %}">Landscapes</a></h4>
                <p class="card-text">For Entrance Exams</p>
            </div>
            <!-- LANDSCAPE CAROUSEL -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner p-5" style="background: url(https://lh4.ggpht.com/tyrl0wJ-lv8jVXq9ia0jTH0Oi8RtYtCv8jqmHJw3_rzKo5F2FVofdPpawmFV7QQQaTZp=h900); background-position: center; background-size: cover;">
                    
                    {% for item in landscapes %}
                        {% if forloop.first %}
                        <div class="carousel-item active p-5">
                        {% else %}
                        <div class="carousel-item p-5">
                        {% endif %}
                            <img class="d-block w-100"   src="{{ item.image.url }}"  alt="First slide">
                        </div>
                    {% endfor %}
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- /////-->
        </div>
    </div> 
</div>
{% endblock content %}
