{% extends 'base.html' %}
{% block sidebar %}
    <a href="{% url 'latest' %}"><li class="list-group-item list-group-item-light">Latest Designs</li></a>
    <a href="#"><li class="list-group-item list-group-item-light">Most Popular</li></a>
    <a href="#"><li class="list-group-item list-group-item-light">Coming Up!</li></a>
{% endblock sidebar %}
{% block content %}
{% load static %}
<h1 id="main-heading">GameDesign - 2D</h1>
<div class="row mt-5 mb-5 ml-1 mr-1">
    <!-- CREATURE CAROUSEL -->
    <div class="container col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'creatures' %}">Animated Characters</a></h4>
                <p class="card-text">Characters for your 2D games!</p>
            </div>
            <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner " role="listbox"> 
                    {% for item in object_list %}
                        {% if item.category.title == 'Animated Creatures' %}
                            {% if forloop.first %}
                            <div class="carousel-item active p-5">
                            {% else %}
                            <div class="carousel-item p-5">
                            {% endif %}
                                <img class="w-75"   src="{{ item.image.url }}"  alt="First slide">
                            </div>
                            {% endif %}
                        {% endfor %}
                <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div> 
        </div>
        </div>
    </div>
    <!-- /////-->
    <!-- Object CAROUSEL -->
    <div class="container col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'objects' %}">Animated Objects</a></h4>
                <p class="card-text">Objects & items for your 2D games!</p>
            </div>
            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner " role="listbox">
                    {% for item in object_list %}
                        {% if item.category.title == 'Animated Objects' %}
                            {% if forloop.counter == 8 %}
                            <div class="carousel-item active p-5">
                            {% else %}
                            <div class="carousel-item p-5">
                            {% endif %}
                                <img class="w-75"   src="{{ item.image.url }}"  alt="First slide">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- /////-->
    <div class="container col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'landscapes' %}">Landscapes</a></h4>
                    <p class="card-text">Landscapes for your 2D games!</p>
                </div>
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner  " role="listbox">
                        
                        {% for item in object_list %}
                            {% if item.category.title == 'Landscapes' %}
                                {% if forloop.counter == 6 %}
                                <div class="carousel-item active p-5">
                                {% else %}
                                <div class="carousel-item p-5">
                                {% endif %}
                                    <img class="w-75"   src="{{ item.image.url }}"  alt="First slide">
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /////-->
</div>
{% endblock content %}
