{% extends 'base.html' %}
{% block sidebar %}
    <a href="{% url 'registration' %}"><li class="list-group-item list-group-item-light">Register</li></a>
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mb-3 col-md-10">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h2>Log In</h2></legend>
                <div class="col-md-8 offset-md-2">{{ form|crispy }}</div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info w-25" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Don't Have An Account?</small>
            <a href="{% url 'registration' %}" class="ml-2"><strong>Sign Up Now</strong></a>
            
        </div>
        <div class="">
            <small class="text-muted">Forgot password?</small>
            <a href="{% url 'reset_password' %}" class="ml-2"><strong>Reset password</strong></a>
        </div>
    </div>
{% endblock content %}