{% extends 'base.html' %}
{% block sidebar %}
    <a href="{% url 'login' %}"><li class="list-group-item list-group-item-light">Log In</li></a>
    <a href="{% url 'registration' %}"><li class="list-group-item list-group-item-light">Register</li></a>
{% endblock sidebar %}
{% block content %}
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <strong class="text-muted">
                <a href="{% url 'login' %}" class="ml-2">Log In Again</a>
            </strong>
        </div>
{% endblock content %}