{% extends 'base.html' %}
{% block sidebar %}
    <a href="{% url 'login' %}"><li class="list-group-item list-group-item-light">Log In</li></a>
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mb-3 col-md-10">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h2>Sign Up Today</h2></legend>
                <div class="col-md-10 offset-md-1">{{ form|crispy }}</div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already Have An Account?</small> 
            <a href="#" class="ml-2"><strong>Sign In</strong></a>
        </div>
    </div>
{% endblock content %}