{% extends 'base.html' %}
{% block sidebar %}
    <a href="{% url 'creatures-all' %}"><li class="list-group-item list-group-item-light">All Characters</li></a>
    <a href="{% url 'objects-all' %}"><li class="list-group-item list-group-item-light">All Objects</li></a>
    <a href="{% url 'landscapes-all' %}"><li class="list-group-item list-group-item-light">All Landscapes</li></a>
{% endblock sidebar %}
{% block content %}
<h1 class="pb-5">Landscapes</h1>

<hr>
<div class="container">
    <div class="row">

        {% for object in object_list %}
            {% for item in object.designs_set.all %}
                {% if item.category.title == 'Landscapes'%}
                    <div class="col-md-4 mt-4 mb-4">
                        {% if object.membership_type == 'Free' %}
                            <div class="card display list-item-card">
                        {% elif object.membership_type != 'Free'%}
                            <div class="card display list-item-card-premium">
                        {% endif %}
                            <div class="card-img-block">
                                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
                            </div>
                            <div class="card-body pt-0">
                                <h5 class="card-title"><a href="{% url 'detail' item.id %}">{{ item.title }}</a></h5>
                                {% if object.membership_type == 'Free' %}
                                    <p class="card-text" >Allowed Memberships: <strong style="color: green; font-weight: 600;">{{ object.membership_type }}</strong></p>
                                {% elif object.membership_type != 'Free'%}
                                    <p class="card-text" >Allowed Memberships: <strong style="color: rgb(206, 183, 50); font-weight: 600;">{{ object.membership_type }}</strong></p>
                                {% endif %}
                                <a href="{% url 'detail' item.id %}" class="btn btn-sm btn-outline-success">View & Download</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %} 

    </div>
</div>



    
{% endblock content %}