{% extends 'base.html' %}

{% block content %}

{% for item in designs %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="#" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ item.category }}</a>
            <small class="text-muted">{{ item.date_made|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ item.title }}</a></h2>
        <p class="article-content">{{ item.text_content }}</p>
        <hr>
    </div>
</article>
{% endfor %}
{% endblock content %}