{% extends 'base.html' %}
{% block sidebar %}
    <a href="{% url 'creatures' %}"><li class="list-group-item list-group-item-light">Characters</li></a>
    <a href="{% url 'objects' %}"><li class="list-group-item list-group-item-light">Objects</li></a>
    <a href="{% url 'landscapes' %}"><li class="list-group-item list-group-item-light">Landscapes</li></a>
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Order your unique customized item</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Send Request</button>
        </div>
    </form>
</div>
{% endblock content %}