{% extends 'base.html' %}
{% block sidebar %}
    <a href="#"><li class="list-group-item list-group-item-light">All Free Characters</li></a>
    <a href="#"><li class="list-group-item list-group-item-light">All Premium Characters</li></a>
    <a href="#"><li class="list-group-item list-group-item-light">Coming Up!</li></a>
{% endblock sidebar %}
{% block content %}
<h1 class="pb-5">Search Results</h1>


<div class="container">
    <div class="row">

        {% for item in designs %}
        <div class="col-md-4 mt-4 mb-4">
            <div class="card display list-item-card">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title"><a href="{% url 'detail' item.id %}">{{ item.title }}</a></h5>
                    <p class="card-text">{{ item.text_content }}</p>
                    <form method="GET">
                        <a href="{{ item.image.wget }}" download="{{ item.image }}" class="btn btn-sm btn-outline-success">Download</a>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %} 

    </div>
</div>
    


    
{% endblock content %}